<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ciinterbank.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ciinterbank.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ciinterbank</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ciinterbank</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:d8ld88v6te.database.windows.net,1433;Initial Catalog=ciinterbank_db;Integrated Security=False;User ID=luandaja@d8ld88v6te;Password=Pericles2009;Connect Timeout=30;Encrypt=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Interbank.Models.ApplicationDbContext, Interbank" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Interbank.Models.SimuladorContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:d8ld88v6te.database.windows.net,1433;Initial Catalog=ciinterbank_db;User ID=luandaja@d8ld88v6te;Password=Pericles2009" Name="Data Source=tcp:d8ld88v6te.database.windows.net,1433;Initial Catalog=ciinterbank_db;User Id=luandaja@d8ld88v6te;Password=Pericles2009;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Interbank.Models.SimuladorContext, Interbank" MigrationConfiguration="Interbank.Migrations.Configuration, Interbank" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:d8ld88v6te.database.windows.net,1433;Initial Catalog=ciinterbank_db;Integrated Security=False;User ID=luandaja@d8ld88v6te;Password=Pericles2009;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Interbank.Models.SimuladorContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:d8ld88v6te.database.windows.net,1433;Initial Catalog=ciinterbank_db;User Id=luandaja@d8ld88v6te;Password=Pericles2009;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Interbank.Models.SimuladorContext" />
  </ItemGroup>
</Project>